// colors
$bg-main: #0072bc;
$bg-secondary: rgb(255, 255, 154);
$bg-primary: #fcfcfc;
$bg-accent: #555;

// widths 
$w-md: 1280px;

// spacing
$spc-10: 2px;
$spc-11: 4px;
$spc-12: 8px;
$spc-100: 500px;


//font-weight
$light : 100;
$medium : 500;
$bold : 900;

// media queries
$mq-md : 768px;